# source/platform/KConfig
menu "Platform"
	config PLAT_NOCONTEND
		bool "Disable CONTEND assertion"

	config PLAT_USE_CONTEND_FAIL
		bool "Use contend_fail() even if assert() is available"
		depends on !PLAT_NOCONTEND

	choice
		prompt "Override default endianness"
		optional

		config PLAT_ENDIAN_BIG
			bool "big"

		config PLAT_ENDIAN_LITTLE
			bool "little"

		config PLAT_ENDIAN_PDP
			bool "pdp-11"

		config PLAT_ENDIAN_HS316
			bool "honeywell-316"
	endchoice

	config PLAT_BYTESWAP
		bool "Byteswap functions"

	config PLAT_BYTESWAP_NOGENERIC
		bool
		depends on PLAT_BYTESWAP

	config PLAT_BITREVERSE
		bool "Bit reverse functions"

	config PLAT_BITREVERSE_NOGENERIC
		bool
		depends on PLAT_BITREVERSE

	config PLAT_MEMFILL
		bool "Memory filling routines"

	config PLAT_UNALIGNED
		bool "Unaligned access routines"
endmenu
